{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 80,
  "arrowParens": "always",
  "endOfLine": "lf",
  "tailwindStylesheet": "./app/globals.css",
  "plugins": ["prettier-plugin-tailwindcss"]
}
